In [1]:
# The code was removed by Watson Studio for sharing.

,Teacher ID,Teacher Prefix,Teacher First Project Posted Date
0,00000f7264c27ba6fea0c837ed6aa0aa,Mrs.,2013-08-21
1,00002d44003ed46b066607c5455a999a,Mrs.,2016-10-23
2,00006084c3d92d904a22e0a70f5c119a,Mr.,2016-09-08
3,0000a9af8b6b9cc9e41f53322a8b8cf1,Ms.,2015-10-25
4,0000d4777d14b33a1406dd6c9019fe89,Ms.,2017-02-10
...,...,...,...
95,000ee34f30d9aff3a6e17fcf27ba1eda,Ms.,2016-04-24
96,000f37ea0ef849b35a35ccca4a4d4304,Mrs.,2016-07-28
97,000f4457f231fdbd7751b0e46ae74882,Mrs.,2013-09-14
98,000f4a15645dcd6965e0de3bdc315e4a,Mrs.,2018-04-16
99,000f5e697008316ab0c50bc16d1a561a,Mr.,2017-04-26